<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style type="text/css">

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

    .bs-example {
      margin: 0px;

    }

    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;

    }
  </style>
</head>

<body>



  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#337AB7;">
      <a href="/" class="navbar-brand">PyNE2023</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/view-customer" class="nav-item nav-link">Cliente</a>
          <a href="/admin-view-booking" class="nav-item nav-link">Pedidos</a>
          <a href="/admin-products" class="nav-item nav-link">Produtos</a>
              </div>

        <div class="navbar-nav navbar-right">
          <a href="/logout" class="nav-item nav-link">SAIR</a>
        </div>

      </div>
    </nav>
  </div>

  <!-- content start-->
  {% block content %}

  {% endblock content %}
  <!-- content end-->
</body>
</html>
